pkgbase = pipewire-katt-git
	pkgdesc = Low-latency audio/video router and processor (git)
	pkgver = 0.3.23.r4.g3c01cfe8
	pkgrel = 1
	epoch = 1
	url = https://pipewire.org
	arch = x86_64
	license = LGPL
	checkdepends = desktop-file-utils
	makedepends = git
	makedepends = meson
	makedepends = doxygen
	makedepends = graphviz
	makedepends = xmltoman
	makedepends = valgrind
	makedepends = libpulse
	makedepends = alsa-lib
	makedepends = gst-plugins-base
	makedepends = rtkit
	makedepends = dbus
	makedepends = sdl2
	makedepends = ncurses
	makedepends = libsndfile
	makedepends = bluez-libs
	makedepends = sbc
	makedepends = libldac
	makedepends = libopenaptx
	makedepends = libfdk-aac
	source = git+https://gitlab.freedesktop.org/pipewire/pipewire.git
	md5sums = SKIP

pkgname = pipewire-katt-git
	install = pipewire.install
	depends = rtkit
	depends = alsa-card-profiles-katt-git
	depends = libdbus-1.so
	depends = libncursesw.so
	depends = libsndfile.so
	depends = libudev.so
	depends = libasound.so
	depends = libsystemd.so
	depends = libbluetooth.so
	depends = libsbc.so
	depends = libldacBT_enc.so
	depends = libopenaptx.so
	depends = libfdk-aac.so
	optdepends = pipewire-docs-katt-git: Documentation
	optdepends = pipewire-media-session-katt-git: Default session manager
	optdepends = pipewire-alsa-katt-git: ALSA configuration
	optdepends = pipewire-jack-katt-git: JACK support
	optdepends = pipewire-pulse-katt-git: PulseAudio replacement
	optdepends = gst-plugin-pipewire-katt-git: GStreamer support
	provides = pipewire
	provides = libpipewire-0.3.so
	conflicts = pipewire
	backup = etc/pipewire/pipewire.conf
	backup = etc/pipewire/pipewire-pulse.conf
	backup = etc/pipewire/client.conf
	backup = etc/pipewire/client-rt.conf

pkgname = alsa-card-profiles-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - ALSA card profiles (git)
	provides = alsa-card-profiles
	conflicts = alsa-card-profiles

pkgname = pipewire-docs-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - documentation (git)
	provides = pipewire-docs
	conflicts = pipewire-docs

pkgname = pipewire-alsa-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - ALSA configuration (git)
	depends = pipewire-media-session-katt-git
	provides = pulseaudio-alsa

pkgname = pipewire-media-session-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - Session manager (git)
	install = pipewire-media-session.install
	depends = pipewire-katt-git
	depends = libpipewire-0.3.so
	provides = pipewire-media-session
	conflicts = pipewire-media-session
	backup = etc/pipewire/media-session.d/media-session.conf
	backup = etc/pipewire/media-session.d/alsa-monitor.conf
	backup = etc/pipewire/media-session.d/bluez-monitor.conf
	backup = etc/pipewire/media-session.d/v4l2-monitor.conf

pkgname = pipewire-jack-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - JACK support (git)
	depends = pipewire-media-session-katt-git
	depends = libpipewire-0.3.so
	provides = pipewire-jack
	conflicts = pipewire-jack
	backup = etc/pipewire/jack.conf

pkgname = pipewire-pulse-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - PulseAudio replacement (git)
	install = pipewire-pulse.install
	depends = pipewire-media-session-katt-git
	depends = libpulse
	provides = pipewire-pulse
	provides = pulseaudio
	provides = pulseaudio-bluetooth
	conflicts = pipewire-pulse
	conflicts = pulseaudio
	conflicts = pulseaudio-bluetooth

pkgname = gst-plugin-pipewire-katt-git
	pkgdesc = Multimedia graph framework - pipewire plugin (git)
	depends = pipewire-media-session-katt-git
	depends = libpipewire-0.3.so
	depends = gst-plugins-base-libs
	provides = gst-plugin-pipewire
	conflicts = gst-plugin-pipewire
