pkgbase = pipewire-katt-git
	pkgdesc = Server and user space API to deal with multimedia pipelines (git)
	pkgver = 0.3.20.r1.g44cad2d5
	pkgrel = 1
	epoch = 1
	url = https://pipewire.org
	arch = x86_64
	license = LGPL
	checkdepends = desktop-file-utils
	makedepends = git
	makedepends = meson
	makedepends = doxygen
	makedepends = graphviz
	makedepends = xmltoman
	makedepends = valgrind
	makedepends = jack2
	makedepends = libpulse
	makedepends = alsa-lib
	makedepends = gst-plugins-base
	makedepends = sbc
	makedepends = rtkit
	makedepends = vulkan-icd-loader
	makedepends = dbus
	makedepends = libsndfile
	makedepends = bluez-libs
	makedepends = vulkan-headers
	makedepends = libopenaptx
	makedepends = libldac
	makedepends = libfdk-aac
	source = git+https://gitlab.freedesktop.org/pipewire/pipewire.git
	md5sums = SKIP

pkgname = pipewire-katt-git
	install = pipewire.install
	depends = sbc
	depends = rtkit
	depends = vulkan-icd-loader
	depends = bluez-libs
	depends = alsa-card-profiles
	depends = libdbus-1.so
	depends = libncursesw.so
	depends = libsndfile.so
	depends = libudev.so
	depends = libasound.so
	depends = libsystemd.so
	depends = libldacBT_enc.so
	depends = libopenaptx.so
	depends = libfdk-aac.so
	optdepends = pipewire-docs: Documentation
	optdepends = pipewire-jack: JACK support
	optdepends = pipewire-pulse: PulseAudio support
	provides = pipewire
	provides = libpipewire-0.3.so
	conflicts = pipewire
	backup = etc/pipewire/pipewire.conf
	backup = etc/pipewire/media-session.d/media-session.conf
	backup = etc/pipewire/media-session.d/alsa-monitor.conf
	backup = etc/pipewire/media-session.d/bluez-monitor.conf
	backup = etc/pipewire/media-session.d/v4l2-monitor.conf

pkgname = pipewire-docs-katt-git
	pkgdesc = Server and user space API to deal with multimedia pipelines (git) (documentation) (git)
	provides = pipewire-docs
	conflicts = pipewire-docs

pkgname = pipewire-jack-katt-git
	pkgdesc = Server and user space API to deal with multimedia pipelines (git) (JACK support) (git)
	depends = pipewire
	depends = libpipewire-0.3.so
	depends = libjack.so
	provides = pipewire-jack
	conflicts = pipewire-jack

pkgname = pipewire-pulse-katt-git
	pkgdesc = Server and user space API to deal with multimedia pipelines (git) (PulseAudio replacement) (git)
	install = pipewire-pulse.install
	depends = pipewire
	depends = libpulse
	provides = pipewire-pulse
	provides = pulseaudio
	provides = pulseaudio-bluetooth
	conflicts = pipewire-pulse
	conflicts = pulseaudio
	conflicts = pulseaudio-bluetooth

pkgname = pipewire-alsa-katt-git
	pkgdesc = ALSA Configuration for PipeWire (git)
	depends = pipewire
	depends = libpipewire-0.3.so
	provides = pipewire-alsa
	provides = pulseaudio-alsa
	conflicts = pipewire-alsa

pkgname = gst-plugin-pipewire-katt-git
	pkgdesc = Multimedia graph framework - pipewire plugin (git)
	depends = pipewire
	depends = libpipewire-0.3.so
	depends = gst-plugins-base-libs
	provides = gst-plugin-pipewire
	conflicts = gst-plugin-pipewire

pkgname = alsa-card-profiles-katt-git
	pkgdesc = ALSA card profiles shared by PipeWire (git)
	depends = 
	provides = alsa-card-profiles
	conflicts = alsa-card-profiles
