pkgbase = pipewire-katt-git
	pkgdesc = Low-latency audio/video router and processor (git)
	pkgver = 0.3.47.r15.gbb1cd23a1
	pkgrel = 1
	epoch = 1
	url = https://pipewire.org
	arch = x86_64
	license = MIT
	checkdepends = desktop-file-utils
	makedepends = git
	makedepends = meson
	makedepends = doxygen
	makedepends = graphviz
	makedepends = python-docutils
	makedepends = valgrind
	makedepends = libpulse
	makedepends = alsa-lib
	makedepends = libusb
	makedepends = gst-plugins-base
	makedepends = rtkit
	makedepends = dbus
	makedepends = sdl2
	makedepends = ncurses
	makedepends = libcanberra
	makedepends = libsndfile
	makedepends = bluez-libs
	makedepends = sbc
	makedepends = libldac
	makedepends = libfreeaptx
	makedepends = libfdk-aac
	makedepends = avahi
	makedepends = lilv
	makedepends = webrtc-audio-processing
	source = git+https://gitlab.freedesktop.org/pipewire/pipewire.git
	md5sums = SKIP

pkgname = pipewire-katt-git
	install = pipewire.install
	license = MIT
	license = LGPL
	depends = alsa-card-profiles-katt-git
	depends = libdbus-1.so
	depends = libncursesw.so
	depends = libsndfile.so
	depends = libudev.so
	depends = libusb-1.0.so
	depends = libasound.so
	depends = libsystemd.so
	depends = libbluetooth.so
	depends = libsbc.so
	depends = libldacBT_enc.so
	depends = libfreeaptx.so
	depends = libfdk-aac.so
	depends = libwebrtc_audio_processing.so
	depends = liblilv-0.so
	optdepends = pipewire-docs-katt-git: Documentation
	optdepends = pipewire-session-manager: Session manager
	optdepends = pipewire-alsa-katt-git: ALSA configuration
	optdepends = pipewire-jack-katt-git: JACK support
	optdepends = pipewire-pulse-katt-git: PulseAudio replacement
	optdepends = gst-plugin-pipewire-katt-git: GStreamer plugin
	optdepends = pipewire-zeroconf-katt-git: Zeroconf support
	optdepends = pipewire-v4l2-katt-git: V4L2 interceptor
	optdepends = pipewire-x11-bell-katt-git: X11 bell
	optdepends = realtime-privileges: realtime privileges with rt module
	optdepends = rtkit: realtime privileges with rtkit module
	provides = pipewire=0.3.47.r15.gbb1cd23a1
	provides = libpipewire-0.3.so
	conflicts = pipewire

pkgname = alsa-card-profiles-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - ALSA card profiles (git)
	license = LGPL
	provides = alsa-card-profiles
	conflicts = alsa-card-profiles

pkgname = pipewire-docs-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - documentation (git)
	provides = pipewire-docs
	conflicts = pipewire-docs

pkgname = pipewire-alsa-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - ALSA configuration (git)
	depends = pipewire-session-manager
	provides = pipewire-alsa
	provides = pulseaudio-alsa
	conflicts = pipewire-alsa

pkgname = pipewire-jack-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - JACK support (git)
	license = MIT
	license = GPL2
	depends = pipewire-session-manager
	depends = libpipewire-0.3.so
	depends = sh
	optdepends = jack-example-tools: for official JACK example-clients and tools
	provides = pipewire-jack
	provides = jack
	provides = libjack.so
	provides = libjackserver.so
	provides = libjacknet.so
	conflicts = pipewire-jack
	conflicts = jack
	conflicts = jack2

pkgname = pipewire-pulse-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - PulseAudio replacement (git)
	install = pipewire-pulse.install
	depends = pipewire-session-manager
	depends = libpipewire-0.3.so
	depends = libpulse.so
	depends = libavahi-client.so
	depends = libavahi-common.so
	provides = pipewire-pulse
	provides = pulseaudio
	provides = pulseaudio-bluetooth
	conflicts = pipewire-pulse
	conflicts = pulseaudio
	conflicts = pulseaudio-bluetooth

pkgname = gst-plugin-pipewire-katt-git
	pkgdesc = Multimedia graph framework - pipewire plugin (git)
	depends = pipewire-session-manager
	depends = libpipewire-0.3.so
	depends = gst-plugins-base-libs
	provides = gst-plugin-pipewire
	conflicts = gst-plugin-pipewire

pkgname = pipewire-zeroconf-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - Zeroconf support (git)
	depends = pipewire
	depends = libpipewire-0.3.so
	depends = libavahi-client.so
	depends = libavahi-common.so
	provides = pipewire-zeroconf
	conflicts = pipewire-zeroconf

pkgname = pipewire-v4l2-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - V4L2 interceptor (git)
	depends = pipewire-session-manager
	depends = libpipewire-0.3.so
	depends = sh
	provides = pipewire-v4l2
	conflicts = pipewire-v4l2

pkgname = pipewire-x11-bell-katt-git
	pkgdesc = Low-latency audio/video router and processor (git) - X11 bell
	depends = pipewire
	depends = libpipewire-0.3.so
	depends = libx11
	depends = libcanberra.so
	provides = pipewire-x11-bell
	conflicts = pipewire-x11-bell
