pkgbase = libopenmpt
	pkgdesc = A cross-platform C++ and C library to decode tracked music files (modules) into a raw PCM audio stream
	pkgver = 0.5.0
	pkgrel = 1
	url = https://lib.openmpt.org/libopenmpt/
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = sdl2
	makedepends = portaudio
	makedepends = flac
	makedepends = help2man
	makedepends = libpulse
	depends = zlib
	depends = gcc-libs
	depends = libvorbis
	depends = mpg123
	source = https://lib.openmpt.org/files/libopenmpt/src/libopenmpt-0.5.0+release.makefile.tar.gz
	sha256sums = 641452a6bf14da5692d0f3f31c002ae63b2ad2b6a9d31dd928fbd983e0b17038

pkgname = libopenmpt

pkgname = openmpt123
	pkgdesc = A cross-platform command-line or terminal based module file player
	depends = libopenmpt=0.5.0
	depends = sdl2
	depends = portaudio
	depends = flac
	depends = libpulse

pkgname = openmpt123-minimal
	pkgdesc = A cross-platform command-line or terminal based module file player (with minimal dependencies)
	depends = libopenmpt=0.5.0
	depends = sdl2
	conflicts = openmpt123

