pkgbase = python-requests-random-user-agent
	pkgdesc = Configures the requests library to randomly select a desktop User-Agent
	pkgver = 2022.05.03
	pkgrel = 1
	url = https://github.com/DavidWittman/requests-random-user-agent
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-requests
	optdepends = ffmpeg: Convert Pixiv Ugoira to WebM
	optdepends = youtube-dl: Download videos
	optdepends = python-pysocks: SOCKS support
	source = python-requests-random-user-agent-2022.05.03.tar.gz::https://github.com/DavidWittman/requests-random-user-agent/archive/refs/tags/2022.05.03.tar.gz
	sha512sums = a08d71fbd7664cc277b2b0447c0c137b63840ba3a253f703043832cce81c13e2b2e0da86639126dbd91b27b4f41c8ebeb03a9382c6b72a1a50afdedf987a7b14

pkgname = python-requests-random-user-agent
