pkgbase = roberta
	pkgdesc = Steam Play compatibility tool to run adventure games using native Linux ScummVM
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/dreamer/roberta
	arch = any
	license = GPL
	makedepends = git
	depends = python
	depends = scummvm
	depends = inotify-tools
	source = git+https://github.com/dreamer/roberta.git#tag=v0.1.0
	md5sums = SKIP

pkgname = roberta

