pkgbase = duckstation-git
	pkgdesc = A Sony PlayStation (PSX) emulator, focusing on playability, speed, and long-term maintainability
	pkgver = r3588.43bb69fb
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	arch = aarch64
	license = GPLv3
	makedepends = cmake
	makedepends = git
	depends = gtk3
	depends = sdl2
	depends = qt5-base
	depends = qt5-tools
	provides = duckstation
	conflicts = duckstation
	source = git+https://github.com/stenzek/duckstation.git
	md5sums = SKIP

pkgname = duckstation-git
