pkgbase = marley-git
	pkgdesc = A bundle of console emulators for Linux (git)
	pkgver = 0.0.5.r333.g6c7b457b
	pkgrel = 1
	url = https://github.com/beaumanvienna/marley
	arch = x86_64
	license = GPL
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = alsa-lib
	depends = aom
	depends = enet
	depends = freetype2
	depends = glew
	depends = glibc
	depends = glu
	depends = libaio
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libcurl.so
	depends = libevdev
	depends = libgl
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libminiupnpc.so
	depends = libpcap
	depends = libpng
	depends = libpulse
	depends = libsamplerate
	depends = libsndfile
	depends = libswscale.so
	depends = libudev.so
	depends = libusb-1.0.so
	depends = libx11
	depends = libxi
	depends = libxrandr
	depends = libzip
	depends = lzo
	depends = mbedtls
	depends = mesa
	depends = nasm
	depends = portaudio
	depends = python
	depends = qt5-base
	depends = qt5-tools
	depends = sdl2
	depends = sdl2_image
	depends = sdl2_ttf
	depends = sfml
	depends = sndio
	depends = soundtouch
	depends = wxgtk2
	depends = zip
	depends = zlib
	provides = marley
	conflicts = marley
	source = git+https://github.com/beaumanvienna/marley.git
	md5sums = SKIP

pkgname = marley-git

